--
-- PostgreSQL database dump
--

\restrict HtIQXVgB4QmrCXvI2u2TYSsu8i5EhHwL6AXGgqgCruYxUkcF8IWJT9dwxtornYC

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'WIN1252';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: backtest_market_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.backtest_market_data (
    id text NOT NULL,
    cache_key text NOT NULL,
    user_id text,
    source text DEFAULT 'twelvedata'::text NOT NULL,
    symbol text NOT NULL,
    timeframe text NOT NULL,
    outputsize integer DEFAULT 0 NOT NULL,
    range_mode text DEFAULT 'points'::text NOT NULL,
    range_start bigint,
    range_end bigint,
    bars_count integer DEFAULT 0 NOT NULL,
    bars jsonb DEFAULT '[]'::jsonb NOT NULL,
    meta jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_used_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.backtest_market_data OWNER TO postgres;

--
-- Name: backtest_uploads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.backtest_uploads (
    id text NOT NULL,
    user_id text NOT NULL,
    digest text NOT NULL,
    symbol text NOT NULL,
    source text DEFAULT 'manual'::text NOT NULL,
    original_name text,
    ext text,
    dedup_path text,
    symbol_path text,
    size_bytes bigint DEFAULT 0 NOT NULL,
    bars_count integer,
    meta jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_used_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.backtest_uploads OWNER TO postgres;

--
-- Name: backtests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.backtests (
    id text NOT NULL,
    strategy_id text,
    strategy_name text,
    symbol text,
    timeframe text,
    options jsonb DEFAULT '{}'::jsonb NOT NULL,
    performance jsonb DEFAULT '{}'::jsonb NOT NULL,
    report jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    user_id text
);


ALTER TABLE public.backtests OWNER TO postgres;

--
-- Name: COLUMN backtests.user_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.backtests.user_id IS 'Owner of this backtest report. Never query without this filter.';


--
-- Name: bridge_status; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bridge_status (
    terminal_id text NOT NULL,
    last_seen timestamp with time zone DEFAULT now() NOT NULL,
    status text DEFAULT 'PENDING_APPROVAL'::text NOT NULL,
    account_id text,
    first_seen timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.bridge_status OWNER TO postgres;

--
-- Name: broker_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.broker_settings (
    mode text NOT NULL,
    cash double precision DEFAULT 0 NOT NULL,
    initial_cash double precision DEFAULT 0 NOT NULL,
    config jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.broker_settings OWNER TO postgres;

--
-- Name: corex_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.corex_jobs (
    id uuid NOT NULL,
    type text NOT NULL,
    status text DEFAULT 'queued'::text NOT NULL,
    user_id text,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    progress jsonb DEFAULT '{}'::jsonb NOT NULL,
    result jsonb,
    error text,
    attempts integer DEFAULT 0 NOT NULL,
    max_attempts integer DEFAULT 3 NOT NULL,
    run_at timestamp with time zone DEFAULT now() NOT NULL,
    locked_at timestamp with time zone,
    locked_by text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT corex_jobs_status_check CHECK ((status = ANY (ARRAY['queued'::text, 'running'::text, 'succeeded'::text, 'failed'::text, 'cancelled'::text])))
);


ALTER TABLE public.corex_jobs OWNER TO postgres;

--
-- Name: corex_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.corex_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    session_id text NOT NULL,
    user_id text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_seen timestamp with time zone DEFAULT now() NOT NULL,
    revoked_at timestamp with time zone,
    ip_address text,
    user_agent text
);


ALTER TABLE public.corex_sessions OWNER TO postgres;

--
-- Name: execution_control; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.execution_control (
    id smallint DEFAULT 1 NOT NULL,
    execution_enabled boolean DEFAULT true NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.execution_control OWNER TO postgres;

--
-- Name: execution_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.execution_events (
    id bigint NOT NULL,
    strategy_id text NOT NULL,
    symbol text NOT NULL,
    mode text NOT NULL,
    event_type text NOT NULL,
    latency_ms integer,
    status text NOT NULL,
    details jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.execution_events OWNER TO postgres;

--
-- Name: execution_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.execution_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.execution_events_id_seq OWNER TO postgres;

--
-- Name: execution_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.execution_events_id_seq OWNED BY public.execution_events.id;


--
-- Name: mt5_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mt5_messages (
    id bigint NOT NULL,
    order_id uuid,
    direction character varying(10),
    raw_payload jsonb NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now(),
    CONSTRAINT mt5_messages_direction_check CHECK (((direction)::text = ANY ((ARRAY['IN'::character varying, 'OUT'::character varying])::text[])))
);


ALTER TABLE public.mt5_messages OWNER TO postgres;

--
-- Name: mt5_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mt5_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mt5_messages_id_seq OWNER TO postgres;

--
-- Name: mt5_messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mt5_messages_id_seq OWNED BY public.mt5_messages.id;


--
-- Name: order_fills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_fills (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id uuid,
    external_deal_id character varying(100),
    fill_price numeric(18,8) NOT NULL,
    fill_quantity numeric(18,8) NOT NULL,
    commission numeric(18,8) DEFAULT 0,
    filled_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.order_fills OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    strategy_id uuid,
    symbol character varying(20) NOT NULL,
    side character varying(10),
    order_type character varying(20) NOT NULL,
    quantity numeric(18,8) NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying,
    created_at timestamp with time zone DEFAULT now(),
    environment text DEFAULT 'LIVE'::text NOT NULL,
    terminal_id text,
    strategy_name text,
    intent text,
    sl numeric(18,8),
    tp numeric(18,8),
    user_id text,
    runtime_id character varying(255),
    CONSTRAINT orders_environment_check CHECK ((environment = ANY (ARRAY['PAPER'::text, 'LIVE'::text]))),
    CONSTRAINT orders_intent_check CHECK ((intent = ANY (ARRAY['ENTER'::text, 'EXIT'::text]))),
    CONSTRAINT orders_side_check CHECK (((side)::text = ANY ((ARRAY['BUY'::character varying, 'SELL'::character varying])::text[])))
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: paper_trades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paper_trades (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    strategy_name text,
    symbol character varying(20) NOT NULL,
    side character varying(10),
    quantity numeric(18,8) NOT NULL,
    status character varying(20) DEFAULT 'FILLED'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    filled_at timestamp with time zone DEFAULT now() NOT NULL,
    order_id uuid,
    fill_price numeric(18,8),
    commission numeric(18,8) DEFAULT 0 NOT NULL,
    environment text DEFAULT 'PAPER'::text NOT NULL,
    user_id text,
    CONSTRAINT paper_trades_environment_check CHECK ((environment = ANY (ARRAY['PAPER'::text, 'LIVE'::text]))),
    CONSTRAINT paper_trades_side_check CHECK (((side)::text = ANY ((ARRAY['BUY'::character varying, 'SELL'::character varying])::text[])))
);


ALTER TABLE public.paper_trades OWNER TO postgres;

--
-- Name: positions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.positions (
    symbol character varying(20) NOT NULL,
    net_quantity numeric(18,8) NOT NULL,
    avg_price numeric(18,8) NOT NULL,
    last_updated timestamp with time zone DEFAULT now()
);


ALTER TABLE public.positions OWNER TO postgres;

--
-- Name: quota_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quota_profiles (
    id text NOT NULL,
    user_id text NOT NULL,
    plan text DEFAULT 'starter'::text NOT NULL,
    signals_per_day integer DEFAULT 100 NOT NULL,
    signals_used_today integer DEFAULT 0 NOT NULL,
    reset_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.quota_profiles OWNER TO postgres;

--
-- Name: schema_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schema_migrations (
    version text NOT NULL,
    applied_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.schema_migrations OWNER TO postgres;

--
-- Name: strategies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.strategies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now(),
    script_body text,
    script_hash character(64),
    updated_at timestamp with time zone DEFAULT now(),
    runtime_mode text DEFAULT 'PAPER'::text NOT NULL,
    runtime_params jsonb DEFAULT '{}'::jsonb NOT NULL,
    runtime_updated_at timestamp with time zone DEFAULT now() NOT NULL,
    runtime_state text DEFAULT 'STOPPED'::text NOT NULL,
    schema jsonb DEFAULT '{}'::jsonb NOT NULL,
    user_id text DEFAULT 'system'::text NOT NULL,
    schema_updated_at timestamp with time zone,
    last_error text,
    last_error_at timestamp with time zone,
    compiled_hash text,
    compiled_metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    runtime_state_data jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE public.strategies OWNER TO postgres;

--
-- Name: COLUMN strategies.schema; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.strategies.schema IS 'Extracted defineSchema() output ù refreshed each time code is saved. Drives UI param rendering.';


--
-- Name: COLUMN strategies.user_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.strategies.user_id IS 'Owner of this strategy. All queries must be scoped to this field.';


--
-- Name: COLUMN strategies.runtime_state_data; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.strategies.runtime_state_data IS 'Persistent key-value store for BaseStrategy.this.state. Survives restarts.';


--
-- Name: strategy_runtimes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.strategy_runtimes (
    runtime_id character varying(255) NOT NULL,
    user_id character varying(100) NOT NULL,
    strategy_name character varying(100) NOT NULL,
    symbol character varying(50) NOT NULL,
    runtime_mode character varying(20) NOT NULL,
    actual_state character varying(20) DEFAULT 'STOPPED'::character varying NOT NULL,
    params jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT strategy_runtimes_actual_state_check CHECK (((actual_state)::text = ANY ((ARRAY['ACTIVE'::character varying, 'PAUSED'::character varying, 'STOPPED'::character varying])::text[]))),
    CONSTRAINT strategy_runtimes_runtime_mode_check CHECK (((runtime_mode)::text = ANY ((ARRAY['BACKTEST'::character varying, 'PAPER'::character varying, 'LIVE'::character varying])::text[])))
);


ALTER TABLE public.strategy_runtimes OWNER TO postgres;

--
-- Name: strategy_signals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.strategy_signals (
    id bigint NOT NULL,
    strategy_id text NOT NULL,
    symbol text NOT NULL,
    intent text NOT NULL,
    side text,
    quantity numeric(18,8),
    mode text DEFAULT 'PAPER'::text NOT NULL,
    payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.strategy_signals OWNER TO postgres;

--
-- Name: strategy_signals_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.strategy_signals_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.strategy_signals_id_seq OWNER TO postgres;

--
-- Name: strategy_signals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.strategy_signals_id_seq OWNED BY public.strategy_signals.id;


--
-- Name: strategy_ticks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.strategy_ticks (
    ts timestamp with time zone NOT NULL,
    symbol text NOT NULL,
    price numeric(18,8) NOT NULL,
    volume numeric(18,8),
    source text,
    payload jsonb
)
PARTITION BY RANGE (ts);


ALTER TABLE public.strategy_ticks OWNER TO postgres;

--
-- Name: strategy_ticks_p0; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.strategy_ticks_p0 (
    ts timestamp with time zone CONSTRAINT strategy_ticks_ts_not_null NOT NULL,
    symbol text CONSTRAINT strategy_ticks_symbol_not_null NOT NULL,
    price numeric(18,8) CONSTRAINT strategy_ticks_price_not_null NOT NULL,
    volume numeric(18,8),
    source text,
    payload jsonb
);


ALTER TABLE public.strategy_ticks_p0 OWNER TO postgres;

--
-- Name: strategy_versions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.strategy_versions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    strategy_id uuid,
    version_tag character varying(20) NOT NULL,
    source_hash character(64) NOT NULL,
    file_path text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.strategy_versions OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    id smallint NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: user_accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_accounts (
    id text NOT NULL,
    user_id text NOT NULL,
    mode text DEFAULT 'live'::text NOT NULL,
    broker text DEFAULT 'mt5'::text NOT NULL,
    account_ref text,
    status text DEFAULT 'active'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_accounts OWNER TO postgres;

--
-- Name: user_api_keys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_api_keys (
    id text NOT NULL,
    user_id text NOT NULL,
    label text DEFAULT 'default'::text NOT NULL,
    key_hash text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    expires_at timestamp with time zone,
    last_used_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_api_keys OWNER TO postgres;

--
-- Name: user_broker_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_broker_settings (
    user_id text NOT NULL,
    mode text NOT NULL,
    cash double precision DEFAULT 0 NOT NULL,
    initial_cash double precision DEFAULT 0 NOT NULL,
    config jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_broker_settings OWNER TO postgres;

--
-- Name: user_connector_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_connector_settings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id text NOT NULL,
    connector_type text NOT NULL,
    config_json jsonb DEFAULT '{}'::jsonb NOT NULL,
    encrypted_secrets jsonb,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_connector_settings OWNER TO postgres;

--
-- Name: COLUMN user_connector_settings.config_json; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_connector_settings.config_json IS 'Non-secret connector configuration such as accountId, region, host, and port.';


--
-- Name: COLUMN user_connector_settings.encrypted_secrets; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.user_connector_settings.encrypted_secrets IS 'AES-256 encrypted secret values from secretsVault. Never store plaintext.';


--
-- Name: user_engine_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_engine_settings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id text NOT NULL,
    max_concurrent_strategies integer DEFAULT 3 NOT NULL,
    default_paper_balance numeric(20,8) DEFAULT 100000 NOT NULL,
    default_timeframe text DEFAULT '1m'::text NOT NULL,
    default_mode text DEFAULT 'PAPER'::text NOT NULL,
    risk_max_daily_loss_pct numeric(5,2),
    risk_max_position_pct numeric(5,2),
    notifications_json jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_engine_settings OWNER TO postgres;

--
-- Name: TABLE user_engine_settings; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.user_engine_settings IS 'Per-user execution defaults and risk limits for strategy runtime.';


--
-- Name: user_system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_system_settings (
    user_id text NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_system_settings OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    role text DEFAULT 'user'::text NOT NULL,
    status text DEFAULT 'active'::text NOT NULL,
    password_hash text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_login_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: strategy_ticks_p0; Type: TABLE ATTACH; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategy_ticks ATTACH PARTITION public.strategy_ticks_p0 FOR VALUES FROM ('2020-01-01 00:00:00+03') TO ('2030-01-01 00:00:00+03');


--
-- Name: execution_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.execution_events ALTER COLUMN id SET DEFAULT nextval('public.execution_events_id_seq'::regclass);


--
-- Name: mt5_messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mt5_messages ALTER COLUMN id SET DEFAULT nextval('public.mt5_messages_id_seq'::regclass);


--
-- Name: strategy_signals id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategy_signals ALTER COLUMN id SET DEFAULT nextval('public.strategy_signals_id_seq'::regclass);


--
-- Name: backtest_market_data backtest_market_data_cache_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backtest_market_data
    ADD CONSTRAINT backtest_market_data_cache_key_key UNIQUE (cache_key);


--
-- Name: backtest_market_data backtest_market_data_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backtest_market_data
    ADD CONSTRAINT backtest_market_data_pkey PRIMARY KEY (id);


--
-- Name: backtest_uploads backtest_uploads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backtest_uploads
    ADD CONSTRAINT backtest_uploads_pkey PRIMARY KEY (id);


--
-- Name: backtests backtests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backtests
    ADD CONSTRAINT backtests_pkey PRIMARY KEY (id);


--
-- Name: bridge_status bridge_status_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bridge_status
    ADD CONSTRAINT bridge_status_pkey PRIMARY KEY (terminal_id);


--
-- Name: broker_settings broker_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.broker_settings
    ADD CONSTRAINT broker_settings_pkey PRIMARY KEY (mode);


--
-- Name: corex_jobs corex_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.corex_jobs
    ADD CONSTRAINT corex_jobs_pkey PRIMARY KEY (id);


--
-- Name: corex_sessions corex_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.corex_sessions
    ADD CONSTRAINT corex_sessions_pkey PRIMARY KEY (id);


--
-- Name: corex_sessions corex_sessions_session_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.corex_sessions
    ADD CONSTRAINT corex_sessions_session_id_key UNIQUE (session_id);


--
-- Name: execution_control execution_control_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.execution_control
    ADD CONSTRAINT execution_control_pkey PRIMARY KEY (id);


--
-- Name: execution_events execution_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.execution_events
    ADD CONSTRAINT execution_events_pkey PRIMARY KEY (id);


--
-- Name: mt5_messages mt5_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mt5_messages
    ADD CONSTRAINT mt5_messages_pkey PRIMARY KEY (id);


--
-- Name: order_fills order_fills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_fills
    ADD CONSTRAINT order_fills_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: paper_trades paper_trades_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paper_trades
    ADD CONSTRAINT paper_trades_pkey PRIMARY KEY (id);


--
-- Name: positions positions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.positions
    ADD CONSTRAINT positions_pkey PRIMARY KEY (symbol);


--
-- Name: quota_profiles quota_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quota_profiles
    ADD CONSTRAINT quota_profiles_pkey PRIMARY KEY (id);


--
-- Name: quota_profiles quota_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quota_profiles
    ADD CONSTRAINT quota_profiles_user_id_key UNIQUE (user_id);


--
-- Name: schema_migrations schema_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schema_migrations
    ADD CONSTRAINT schema_migrations_pkey PRIMARY KEY (version);


--
-- Name: strategies strategies_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategies
    ADD CONSTRAINT strategies_name_key UNIQUE (name);


--
-- Name: strategies strategies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategies
    ADD CONSTRAINT strategies_pkey PRIMARY KEY (id);


--
-- Name: strategy_runtimes strategy_runtimes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategy_runtimes
    ADD CONSTRAINT strategy_runtimes_pkey PRIMARY KEY (runtime_id);


--
-- Name: strategy_signals strategy_signals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategy_signals
    ADD CONSTRAINT strategy_signals_pkey PRIMARY KEY (id);


--
-- Name: strategy_ticks strategy_ticks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategy_ticks
    ADD CONSTRAINT strategy_ticks_pkey PRIMARY KEY (symbol, ts);


--
-- Name: strategy_ticks_p0 strategy_ticks_p0_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategy_ticks_p0
    ADD CONSTRAINT strategy_ticks_p0_pkey PRIMARY KEY (symbol, ts);


--
-- Name: strategy_versions strategy_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategy_versions
    ADD CONSTRAINT strategy_versions_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: user_accounts user_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_accounts
    ADD CONSTRAINT user_accounts_pkey PRIMARY KEY (id);


--
-- Name: user_api_keys user_api_keys_key_hash_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_api_keys
    ADD CONSTRAINT user_api_keys_key_hash_key UNIQUE (key_hash);


--
-- Name: user_api_keys user_api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_api_keys
    ADD CONSTRAINT user_api_keys_pkey PRIMARY KEY (id);


--
-- Name: user_broker_settings user_broker_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_broker_settings
    ADD CONSTRAINT user_broker_settings_pkey PRIMARY KEY (user_id, mode);


--
-- Name: user_connector_settings user_connector_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_connector_settings
    ADD CONSTRAINT user_connector_settings_pkey PRIMARY KEY (id);


--
-- Name: user_connector_settings user_connector_settings_user_id_connector_type_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_connector_settings
    ADD CONSTRAINT user_connector_settings_user_id_connector_type_key UNIQUE (user_id, connector_type);


--
-- Name: user_engine_settings user_engine_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_engine_settings
    ADD CONSTRAINT user_engine_settings_pkey PRIMARY KEY (id);


--
-- Name: user_engine_settings user_engine_settings_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_engine_settings
    ADD CONSTRAINT user_engine_settings_user_id_key UNIQUE (user_id);


--
-- Name: user_system_settings user_system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_system_settings
    ADD CONSTRAINT user_system_settings_pkey PRIMARY KEY (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_backtest_market_data_last_used_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backtest_market_data_last_used_at ON public.backtest_market_data USING btree (last_used_at DESC);


--
-- Name: idx_backtest_market_data_symbol_tf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backtest_market_data_symbol_tf ON public.backtest_market_data USING btree (symbol, timeframe, created_at DESC);


--
-- Name: idx_backtest_market_data_user_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backtest_market_data_user_created_at ON public.backtest_market_data USING btree (user_id, created_at DESC);


--
-- Name: idx_backtest_uploads_last_used_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backtest_uploads_last_used_at ON public.backtest_uploads USING btree (last_used_at DESC);


--
-- Name: idx_backtest_uploads_user_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backtest_uploads_user_created_at ON public.backtest_uploads USING btree (user_id, created_at DESC);


--
-- Name: idx_backtest_uploads_user_symbol_digest; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_backtest_uploads_user_symbol_digest ON public.backtest_uploads USING btree (user_id, symbol, digest);


--
-- Name: idx_backtests_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backtests_created_at ON public.backtests USING btree (created_at DESC);


--
-- Name: idx_backtests_strategy_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backtests_strategy_name ON public.backtests USING btree (strategy_name);


--
-- Name: idx_backtests_user_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backtests_user_created ON public.backtests USING btree (user_id, created_at DESC);


--
-- Name: idx_backtests_user_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backtests_user_created_at ON public.backtests USING btree (user_id, created_at DESC);


--
-- Name: idx_backtests_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_backtests_user_id ON public.backtests USING btree (user_id);


--
-- Name: idx_bridge_status_last_seen; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bridge_status_last_seen ON public.bridge_status USING btree (last_seen DESC);


--
-- Name: idx_bridge_status_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bridge_status_status ON public.bridge_status USING btree (status);


--
-- Name: idx_corex_jobs_status_run_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_corex_jobs_status_run_at ON public.corex_jobs USING btree (status, run_at);


--
-- Name: idx_corex_jobs_type_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_corex_jobs_type_status ON public.corex_jobs USING btree (type, status);


--
-- Name: idx_corex_jobs_user_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_corex_jobs_user_created_at ON public.corex_jobs USING btree (user_id, created_at DESC);


--
-- Name: idx_execution_events_lookup; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_execution_events_lookup ON public.execution_events USING btree (strategy_id, created_at DESC);


--
-- Name: idx_execution_events_symbol; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_execution_events_symbol ON public.execution_events USING btree (symbol, created_at DESC);


--
-- Name: idx_mt5_messages_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mt5_messages_order_id ON public.mt5_messages USING btree (order_id);


--
-- Name: idx_mt5_messages_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mt5_messages_timestamp ON public.mt5_messages USING btree ("timestamp" DESC);


--
-- Name: idx_order_fills_filled_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_fills_filled_at ON public.order_fills USING btree (filled_at DESC);


--
-- Name: idx_order_fills_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_fills_order_id ON public.order_fills USING btree (order_id);


--
-- Name: idx_orders_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_created_at ON public.orders USING btree (created_at DESC);


--
-- Name: idx_orders_environment_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_environment_created_at ON public.orders USING btree (environment, created_at DESC);


--
-- Name: idx_orders_environment_symbol_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_environment_symbol_created_at ON public.orders USING btree (environment, symbol, created_at DESC);


--
-- Name: idx_orders_strategy_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_strategy_id ON public.orders USING btree (strategy_id);


--
-- Name: idx_orders_strategy_name_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_strategy_name_created_at ON public.orders USING btree (strategy_name, created_at DESC);


--
-- Name: idx_orders_symbol; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_symbol ON public.orders USING btree (symbol);


--
-- Name: idx_orders_terminal_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_terminal_id ON public.orders USING btree (terminal_id);


--
-- Name: idx_orders_user_environment_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_user_environment_created_at ON public.orders USING btree (user_id, environment, created_at DESC);


--
-- Name: idx_paper_trades_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_paper_trades_created_at ON public.paper_trades USING btree (created_at DESC);


--
-- Name: idx_paper_trades_strategy_symbol_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_paper_trades_strategy_symbol_created_at ON public.paper_trades USING btree (strategy_name, symbol, created_at DESC);


--
-- Name: idx_paper_trades_user_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_paper_trades_user_created_at ON public.paper_trades USING btree (user_id, created_at DESC);


--
-- Name: idx_sessions_revoked; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_revoked ON public.corex_sessions USING btree (revoked_at) WHERE (revoked_at IS NOT NULL);


--
-- Name: idx_sessions_session_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_session_id ON public.corex_sessions USING btree (session_id);


--
-- Name: idx_sessions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sessions_user_id ON public.corex_sessions USING btree (user_id);


--
-- Name: idx_strategies_compiled_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategies_compiled_hash ON public.strategies USING btree (compiled_hash);


--
-- Name: idx_strategies_runtime_state; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategies_runtime_state ON public.strategies USING gin (runtime_state_data) WHERE (runtime_state_data <> '{}'::jsonb);


--
-- Name: idx_strategies_updated_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategies_updated_at ON public.strategies USING btree (updated_at DESC);


--
-- Name: idx_strategies_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategies_user_id ON public.strategies USING btree (user_id);


--
-- Name: idx_strategies_user_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategies_user_name ON public.strategies USING btree (user_id, name);


--
-- Name: idx_strategy_runtimes_symbol; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategy_runtimes_symbol ON public.strategy_runtimes USING btree (symbol) WHERE ((actual_state)::text = 'ACTIVE'::text);


--
-- Name: idx_strategy_runtimes_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategy_runtimes_user ON public.strategy_runtimes USING btree (user_id);


--
-- Name: idx_strategy_signals_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategy_signals_created ON public.strategy_signals USING btree (created_at DESC);


--
-- Name: idx_strategy_signals_lookup; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategy_signals_lookup ON public.strategy_signals USING btree (strategy_id, symbol, created_at DESC);


--
-- Name: idx_strategy_ticks_symbol_ts; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategy_ticks_symbol_ts ON ONLY public.strategy_ticks USING btree (symbol, ts DESC);


--
-- Name: idx_strategy_ticks_ts; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategy_ticks_ts ON ONLY public.strategy_ticks USING btree (ts DESC);


--
-- Name: idx_strategy_versions_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategy_versions_created_at ON public.strategy_versions USING btree (created_at DESC);


--
-- Name: idx_strategy_versions_strategy_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_strategy_versions_strategy_id ON public.strategy_versions USING btree (strategy_id);


--
-- Name: idx_user_accounts_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_accounts_user_id ON public.user_accounts USING btree (user_id);


--
-- Name: idx_user_api_keys_expires_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_api_keys_expires_at ON public.user_api_keys USING btree (expires_at);


--
-- Name: idx_user_api_keys_user_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_api_keys_user_status ON public.user_api_keys USING btree (user_id, status);


--
-- Name: idx_user_connector_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_connector_user ON public.user_connector_settings USING btree (user_id);


--
-- Name: idx_user_engine_settings_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_engine_settings_user ON public.user_engine_settings USING btree (user_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: strategy_ticks_p0_symbol_ts_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX strategy_ticks_p0_symbol_ts_idx ON public.strategy_ticks_p0 USING btree (symbol, ts DESC);


--
-- Name: strategy_ticks_p0_ts_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX strategy_ticks_p0_ts_idx ON public.strategy_ticks_p0 USING btree (ts DESC);


--
-- Name: strategy_ticks_p0_pkey; Type: INDEX ATTACH; Schema: public; Owner: postgres
--

ALTER INDEX public.strategy_ticks_pkey ATTACH PARTITION public.strategy_ticks_p0_pkey;


--
-- Name: strategy_ticks_p0_symbol_ts_idx; Type: INDEX ATTACH; Schema: public; Owner: postgres
--

ALTER INDEX public.idx_strategy_ticks_symbol_ts ATTACH PARTITION public.strategy_ticks_p0_symbol_ts_idx;


--
-- Name: strategy_ticks_p0_ts_idx; Type: INDEX ATTACH; Schema: public; Owner: postgres
--

ALTER INDEX public.idx_strategy_ticks_ts ATTACH PARTITION public.strategy_ticks_p0_ts_idx;


--
-- Name: backtest_market_data backtest_market_data_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backtest_market_data
    ADD CONSTRAINT backtest_market_data_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: backtest_uploads backtest_uploads_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backtest_uploads
    ADD CONSTRAINT backtest_uploads_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: backtests backtests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.backtests
    ADD CONSTRAINT backtests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: corex_jobs corex_jobs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.corex_jobs
    ADD CONSTRAINT corex_jobs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: orders fk_orders_runtime_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_runtime_id FOREIGN KEY (runtime_id) REFERENCES public.strategy_runtimes(runtime_id) ON DELETE SET NULL;


--
-- Name: mt5_messages mt5_messages_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mt5_messages
    ADD CONSTRAINT mt5_messages_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_fills order_fills_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_fills
    ADD CONSTRAINT order_fills_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: orders orders_strategy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_strategy_id_fkey FOREIGN KEY (strategy_id) REFERENCES public.strategies(id);


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: paper_trades paper_trades_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paper_trades
    ADD CONSTRAINT paper_trades_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: quota_profiles quota_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quota_profiles
    ADD CONSTRAINT quota_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: strategy_versions strategy_versions_strategy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.strategy_versions
    ADD CONSTRAINT strategy_versions_strategy_id_fkey FOREIGN KEY (strategy_id) REFERENCES public.strategies(id) ON DELETE CASCADE;


--
-- Name: user_accounts user_accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_accounts
    ADD CONSTRAINT user_accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_api_keys user_api_keys_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_api_keys
    ADD CONSTRAINT user_api_keys_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_broker_settings user_broker_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_broker_settings
    ADD CONSTRAINT user_broker_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_system_settings user_system_settings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_system_settings
    ADD CONSTRAINT user_system_settings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict HtIQXVgB4QmrCXvI2u2TYSsu8i5EhHwL6AXGgqgCruYxUkcF8IWJT9dwxtornYC

