@import "tailwindcss";

/* Base Body Styles */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #020617; /* Deep Navy Dark Mode */
  color: #f8fafc;
}

body {
  margin: 0;
  display: flex;
  place-items: initial;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}